{{> nav loggedUser=loggedUser}}

    <!-- end top nav -->
    <!-- column 1 -->
    <div class="container border border-light house">
      <div class="row border border-light">
        <div class="col">
          <img
            src="{{house.photos.[0]}}"
            class="card-img-top"
            alt="..."
          />
        </div>
        <!-- end of column 1 -->
        <!-- column 2 -->
        <div class="col">
          <div class="row row-cols-3 g-3 p-5">
						{{#each house.photos as |photo|}}
            <div class="col">
              <img
                src="{{photo}}"
                class="card-img-top"
                alt="..."
              />
            </div>
						{{/each}}
          </div>
        </div>
        <!-- end of column 2 -->
        <!-- new section -->
      </div>
    </div>
    <div class="container border border-light house">
      <div class="row mt-4">
        <!-- column 1 Without reviews -->
        <div class="col-7">
          <h2>{{house.title}}</h2>
          <small
            ><i class="fa-solid fa-location-dot house-pg"></i> {{house.location}} • {{house.rooms}} rooms
          </small>
          <div class="row mt-3">
            <div class="col-1">
              <div class="">
                <img class="userlogo-profile-pg
                my-2"src=https://randomuser.me/api/portraits/men/11.jpg>
              </div>
            </div>
            <div class="col-2">
              <small class="text-muted">Hosted by</small>
              <div>
                <small><strong>{{house.host.name}}</strong></small>
              </div>
            </div>
          </div>
          <p>
            {{house.description}}
          </p>
          <div class="mt-5">
            <h2>0 Reviews</h2>
            <form>
              <label class="form-label mb-0">Leave a review</label>
              <textarea rows="5" class="form-control mb-3"></textarea>
              <div>
                <button type="button" class="btn btn-outline-success">
                  <i class="fa-solid fa-thumbs-up"></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <i class="fa-solid fa-thumbs-down"></i>
                </button>
              </div>
              <button class="btn btn-success mb-5 mt-1">
                Submit
              </button>
            </form>
          </div>
        </div>
        <!-- without reviews end -->
        <!-- end of column 1 -->
        <!-- Column 1 with reviews -->
        <!-- <div class="mt-5">
            <h2>2 Reviews</h2>
            <form>
              <label class="form-label mb-0">Leave a review</label>
              <textarea rows="5" class="form-control mb-3"></textarea>
              <div>
                <button type="button" class="btn btn-outline-success">
                  <i class="fa-solid fa-thumbs-up"></i>
                </button>
                <button type="button" class="btn btn-outline-danger">
                  <i class="fa-solid fa-thumbs-down"></i>
                </button>
              </div>
              <button type="button" class="btn btn-success mb-5 mt-1">
                Submit
              </button>
            </form>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-1">
                    <div class="">
                      <img class="userlogo-profile-pg
                      my-2"src=https://randomuser.me/api/portraits/men/11.jpg>
                    </div>
                  </div>
                  <div class="col-2">
                    <small class="text-muted">Hosted by</small>
                    <div>
                      <small><strong>User name</strong></small>
                    </div>
                  </div>
                </div>
                <small class="text-center"
                  >This is some text within a card body.
                  najdjansjdnasndjansdjasd</small
                >
              </div>
            </div>
            <div class="card mb-3">
              <div class="card-body">
                <div class="row">
                  <div class="col-1">
                    <div class="">
                      <img class="userlogo-profile-pg
                      my-2"src=https://randomuser.me/api/portraits/men/11.jpg>
                    </div>
                  </div>
                  <div class="col-2">
                    <small class="text-muted">Hosted by</small>
                    <div>
                      <small><strong>User name</strong></small>
                    </div>
                  </div>
                </div>
                <small class="text-center"
                  >This is some text within a card body.
                  najdjansjdnasndjansdjasd</small
                >
              </div>
            </div>
          </div>
        </div> -->
        <!-- colum 2 without reviews-->
        <div class="col-4 offset-1">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h4 class="card-title">${{house.price}}/night</h4>
              <small class="card-subtitle mb-2 text-muted"> 0 reviews</small>
              <textarea
                rows="4"
                class="form-control mb-3"
                placeholder="Send the host a message..."
              ></textarea>
              <button type="button" class="btn btn-success mb-5">
                Request Booking
              </button>
            </div>
          </div>
        </div>
        <!-- end of column 2 -->
        <!-- colum 2 withreviews-->
        <!-- <div class="col-4 offset-1">
          <div class="card" style="width: 25rem;">
            <div class="card-body">
              <h4 class="card-title">$350/night</h4>
              <small class="card-subtitle mb-2 text-muted"
                ><i class="fa-solid fa-thumbs-up"></i> 1 reviews</small
              >
              <div class="alert alert-success mt-2" role="alert">
                Thank you for your enquiry.
                <div>
                  <small>Sent on 02 June 1998 - 01:01</small>
                </div>
              </div>
            </div>
          </div>
        </div> -->
        <!-- end of column 2 -->
      </div>
    </div>
